{% load static %}
<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.js' %}"> </script>
    <script src="{% static 'js/chart.js' %}"></script>
</head>
<body>
  {% include "header.html" %}
  <div class="content-body">
      <div class="app-menu">
          {% include "menu.html" %} 
      </div>
      <div class="app-content">
        {% include "content_main_010.html" %} 
      </div>
  </div>
  {% include "footer.html" %} 
</body>
</html>
<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>