body {
    height: 100vh;
}

.content {
    min-height:84vh; /* 100 - header vh + footer vh*/
}

.header {
    height:5vh;
    margin-bottom: 1vh;
    border-bottom: 2PX SOLID #DAD9D9
}

.header::after {
    border: 1PX solid #DAD9D9;
}

.footer {
    background-color: #DAD9D9;
    position: relative;
    height: 10vh;
}

